<!--<connectionStrings>
  <add name="DB_HOTELEntities" connectionString="Server=DESKTOP-994U8CH;Database=DB_HOTEL;User Id=sa;Password=Oden333*;TrustServerCertificate=True;" />
</connectionStrings>-->

<connectionStrings>
  <add name="DB_HOTELEntities"
         connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-994U8CH;initial catalog=DB_HOTEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
         providerName="System.Data.EntityClient" />
</connectionStrings>

